@import url(./reset.css);
@import url(./snow.css);

.animated-background{
  background: #121212;
  display: block;
  width: 100%;
  height: 100vh;
}

.container{
  position: absolute;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.profile{
  text-align: center;
  padding: 2rem;
}

.profile-photo img{
  width: 25%;
  height: auto;
}

.profile-name{
  font-size: 2rem;
  padding: 1rem;
}

.profile-acting{
  color: #ccc;
}

/*Social Link*/
.social-links ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

.social-links ul li a i{
  font-size: 2.5rem;
}


/*Links*/
.container-links ul{
  display: flex;
  flex-direction: column;

  padding: 3rem 0;
}

.container-links ul li{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.6rem 2.4rem;
  margin: 0 0 1.3rem;

  border: 1px solid #f1f1f1;
  border-radius: .8rem;

  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.container-links ul li:hover{
  cursor: pointer;

  border: 1.5px solid #f1f1f1;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.hashtag{
  transition:all .6s ease-in-out;
  animation: animated 1.3s ease-in-out infinite;
}

@keyframes animated {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}